<div class="brand-contact">
	<div class="company-num">Contact us at: (XXX) XXX - XXXX or
    	<%= link_to 'https://www.facebook.com/ubbytech' do %>
    		<%= image_tag('facebook_square.png', class: 'contact-brands', 
    		alt: 'facebook-icon') %>
    	<% end %>
    	<%= link_to 'https://twitter.com/ubby_tech' do %>
    		<%= image_tag('twitter_square.png', class: 'contact-brands', 
    		alt: 'twitter-icon') %>
    	<% end %>
    	<%= link_to 'https://www.instagram.com/ubbytech/' do %>
    		<%= image_tag('instagram_square.png', class: 'contact-brands', 
    		alt: 'instagram-icon') %>
    	<% end %>
    	<%= link_to 'https://github.com/UbbyTech' do %>
    		<%= image_tag('github_square.png', class: 'contact-brands', 
    		alt: 'github-icon') %>
    	<% end %>
    	<%= link_to 'http://stackoverflow.com/users/5284687/joseph-bourne' do %>
    		<%= image_tag('stackoverflow_square.png', class: 'contact-brands', 
    		alt: 'stackoverflow-icon') %>
    	<% end %>
    </div>
</div>
<header class="brand-header">
	<div class="brand-name">
		<h2>UbbyTech</h2>
	</div>

	<nav class="brand-nav">
		<ul>
			<li><%= link_to 'Home', '#home1' %></li>
			<li><%= link_to 'About', '#about1'%></li>
			<li><%= link_to 'Services', '#serv1' %></li>
			<li><%= link_to 'Contact', '#contact1' %></li>
		</ul>
	</nav>
</header>
