<input id="nav-trigger" type="checkbox">

<% if !current_page?(root_path) %>
	<label for="nav-trigger" id="nav-icon" style="color:#000;">&#9776;</label>
<% else %>
	<label for="nav-trigger" id="nav-icon">&#9776;</label>
<% end %>


<nav class="side-nav" id="side-nav">
	<div class="brand-wrapper">
		<%= image_tag "icons/ubbytech_icon.png", class: 'company-icon' %>
	</div>
	<ul>
		<li>
			<%= link_to(root_url) do %>
				<%= content_tag(:p, fa_icon("home", text: "Home")) %>
			<% end %>
		</li>
		<li>
			<%= link_to(services_path) do %>
				<%= content_tag(:p, fa_icon("handshake-o", text: "Services")) %>
			<% end %>
		</li>
		<li>
			<%= link_to(portfolio_path) do %>
				<%= content_tag(:p, fa_icon("suitcase", text: "Portfolio")) %>
			<% end %>
		</li>
		<li>
			<%= link_to(about_path) do %>
				<%= content_tag(:p, fa_icon("building-o", text: "About")) %>
			<% end %>
		</li>
		<li>
			<%= link_to(contact_us_path) do %>
				<%= content_tag(:p, fa_icon("phone", text: "Contact")) %>
			<% end %>
		</li>
		<!-- <li>
			<%= link_to(blog_path) do %>
				<%= content_tag(:p, fa_icon("comments-o", text: "Blog")) %>
			<% end %>
		</li> -->
	</ul>
</nav>
