<div class="jumbotron" id="about1">
  <div class="container-fluid">
    <h1 class="txt-center">About Us</h1>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <%= image_tag('dev-team.png', class: 'img-fluid', alt: 'about-pic') %>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4">
        <h2 class="txt-center">Techologies we use</h2>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/html5.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/css3.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/js.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/github.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/heroku.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/postgresql.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/git.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/ruby.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4">
            <%= image_tag('our-tech/subl.png', class: 'img-circle', alt: 'tech-imgs') %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4">
        <p>
          UbbyTech is a online company that develops, builds, and deploys a wide range of applications: from web apps to virtual reality apps. We build websites and applications for those who need their own personal website; small businesses, and for those who need something more custom.
        </p>
        <p>
          Our tech stack consists of Linux, Ruby on rails, html5/css3, JavaScript, coffeescript, sass, postgresql, and much more.
        </p>
      </div>
    </div>
  </div>
</div>