<div class="container-form">
	<div class="contact-header">
		<div class="align-now">
		<h3 class="sub-contact-title">We're here to assist</h3>
		<h1 class="contact-title">Contact Us</h1></div>
	</div>
	
	<div class="form-layout">
		<div class="contact-info">
			<iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27405770525!2d-118.69192047471653!3d34.02016130653294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA!5e0!3m2!1sen!2sus!4v1509894797478" frameborder="0" style="border:0" allowfullscreen>
			</iframe>
			
		<div class="contact-locate">
 				<p class="hq">U.S Headquarters</p>
 				<p class="our-state">California</p>
 				<%= content_tag(:p, fa_icon("map-marker", text: "Hollywood, CA, USA 90029")) %>
 				<%= mail_to("ubbytech@gmail.com") do %>
 					<%= content_tag(:p, fa_icon("envelope-o", text: "sales@ubbytech.com")) %>
 				<% end %>
				<%= content_tag(:p, fa_icon("phone", text: "+1.626.766.4940")) %>

			</div>

			<div class="contact-sm"> <!-- social media contact -->
				<%= link_to 'https://www.linkedin.com/company/18328586/' do %>
					<%= image_tag 'icons/linkedin.png', class: 'sm-img' %>
				<% end %>

				<%= link_to 'https://instagram.com/ubbytech' do %>
					<%= image_tag 'icons/instagram.png', class: 'sm-img' %>
				<% end %>

				<%= link_to 'https://twitter.com/ubbytech' do %>
					<%= image_tag 'icons/twitter.png', class: 'sm-img' %>
				<% end %>

				<%= link_to 'https://www.facebook.com/ubbytech' do %>
					<%= image_tag 'icons/facebook.png', class: 'sm-img' %>
				<% end %>
			</div>

		</div>

		<div class="contact-form">
			<%= form_for(:contact) do |f| %>
				<div class="form-row">
						<div class="contact-fields">
							<%= f.label :firstname, 'First Name*', class: 'contact-label' %>
							<%= f.text_field :firstname, class: 'contact-input' %>
							<%= f.label :email, 'Email*', class: 'contact-label' %>
							<%= f.email_field :email, class: 'contact-input' %>
						</div>

						<div class="contact-fields">
							<%= f.label :lastname, 'Last Name*', class: 'contact-label' %>
							<%= f.text_field :lastname, class: 'contact-input' %>
							<%= f.label :phonenumber, 'Phone Number*', class: 'contact-label' %>
							<%= f.text_field :phonenumber, class: 'contact-input' %>
						</div>
				</div>

				<div class="form-row">
					<div class="contact-fields">
						<%= f.label :company, 'Company Name*', class: 'contact-label' %>
						<%= f.text_field :company, class: 'contact-input' %>
					</div>

					<div class="contact-fields">
						<%= f.label :company_type, 'Company Type*', class: 'contact-label' %>
						<%= select_tag(:company_type, options_for_select([['Company Type*', 'Company Type*', :disabled => true], ['Individual', 'Individual'], ['Startup - Early Stage', 'Startup - Early Stage'], ['Startup - Late Stage', 'Startup - Late Stage'], ['Small or Medium-sized Business', 'Small or Medium-sized Business'], ['Enterprise', 'Enterprise'], ['Non-profit', 'Non-profit'], ['Other', 'Other']], selected: 'Company Type*' ), class: 'contact-select') %>
					</div>
				</div>

				<div class="textarea-wrap">
					<%= text_area_tag 'description', 'Comment here...', class: 'ta-field' %>
				</div>

				<div class="contact-btn">
					<%= submit_tag 'Send', class: 'sub-btn' %>
				</div>
			<% end %>
		</div>
	</div>
</div>