<div class="container">
	<div class="contact-header">
		<h3 class="sub-contact-title">We're here to assist</h3>
		<h1 class="contact-title">Contact Us</h1>
	</div>

	<div class="form-layout">

		<div class="contact-info">
			<div class="contact-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27405770525!2d-118.69192047471653!3d34.02016130653294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA!5e0!3m2!1sen!2sus!4v1509894797478" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			
			<div class="contact-locate">
 
			</div>

			<div class="contact-sm"> <!-- social media contact -->

			</div>

		</div>

		<div class="contact-form">
			<%= form_tag('/contact') do %>


				<div class="contact-box">
				<%= label_tag 'firstname', 'First Name', class: 'name' %>
				<%= text_field_tag 'fullname', 'Enter your first name name', class: 'name-field' %>
				</div>

				<div class="contact-box">
				<%= label_tag 'lastname', 'Last Name', class: 'name' %>
				<%= text_field_tag 'fullname', 'Enter your last name here', class: 'name-field' %>
				</div>

				<div class="contact-box">
				<%= label_tag 'phonenumber', 'Your Number', class: 'name' %>
				<%= text_field_tag 'phonenumber', 'Enter your number', class: 'name-field' %>
				</div>

				<div class="contact-box">
				<%= label_tag 'email', 'Email', class: 'name' %>
				<%= text_field_tag 'email', 'Enter your email', class: 'name-field' %>
				</div>


				<div class="contact-box">
				<%= label_tag 'entity', 'Who are you:', class: 'name' %>
				<%= select_tag 'entity', options_for_select(["Individual",
					"Small or Medium Business", "StartUp", "Enterprise", "Government",
					"Private Contractor", "Non-Profit"]), class: 'name-field' %>
				</div>


				<div class="contact-box">
				<%= label_tag 'budget', 'You budget', class: 'name' %>
				<%= select_tag 'budget', options_for_select(["$0 - $250",
					"$500 - $1000", "$1500 - $5000", "$7500 - $10,000",
					"Different price range"]), class: 'name-field' %>
				</div>


				<div class="contact-service">
					<%= check_box_tag 'webdesign', 'Web Design', false, class: 'name-field' %>
					<%= label_tag 'webdesign', 'Web Design', class: 'name-field' %>

					<%= check_box_tag 'webdev', 'Web Development', false, class: 'name-field' %>
					<%= label_tag 'webdev', 'Web Development', class: 'name-field' %>
					
					<%= check_box_tag 'va', 'Virtual Assistant', false, class: 'name-field' %>
					<%= label_tag 'va', 'Virtual Assistant', class: 'name-field' %>

					<%= check_box_tag 'seo', 'SEO', false, class: 'name-field' %>
					<%= label_tag 'seo', 'Search Engine Optimization', class: 'name-field' %>

					<%= check_box_tag 'wp', 'Wireframing/Prototyping', false, class: 'name-field' %>
					<%= label_tag 'wp', 'Wireframing/Prototyping', class: 'name-field' %>

					<%= check_box_tag 'data-entry', 'Data Entry', false, class: 'name-field' %>
					<%= label_tag 'data-entry', 'Data Entry', class: 'name-field' %>

					<%= check_box_tag 'seo', 'SEO', false, class: 'name-field' %>
					<%= label_tag 'seo', 'Search Engine Optimization', class: 'name-field' %>
				</div>

				<div class="contact-textarea">
					<%= text_area_tag 'description', 'Comment here...', rows: '15', cols: '25', class: 'name-field' %>
				</div>

				<div class="contact-btn">
					<%= submit_tag 'Send', class: 'sub-btn' %>
				</div>
			<% end %>
		</div>
	</div>
</div>