<!-- home section -->
 <div class="jumbotron bg-cover" id="home1">
    <div class="container">
        <h1 class="display-1 txt-center">UbbyTech</h1>
        <p class="display-4 par-center">Smart and productive app development at an affordable price using modern cutting edge technology.</p>
        <div class="row">
        	<div class="col">

        	</div>
        	<div class="col">
	        	<p><a class="btn btn-primary btn-lg" href="#serv1" role="button">Our Services &raquo;</a></p>
	        </div>
	        <div class="col">

        	</div>
        	<div class="col">

        	</div>
	      	 <div class="col">
	        	<p><a class="btn btn-primary btn-lg" href="#contact1" role="button">Contact Us &raquo;</a></p>
	        </div>
	        <div class="col">

        	</div>
        </div>
    </div>
</div>

<!-- about us section -->
<div class="jumbotron" id="about1">
    <div class="container-fluid">
        <h1 class="txt-center">About Us</h1>
        <br>
        <div class="row">
            <div class="col">
                <%= image_tag('dev-team.png', class: 'img-fluid', alt: 'about-pic') %>
            </div>
            <div class="col">
              <h2 class="txt-center">Techologies we use</h2>
              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/html5.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/css3.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/js.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/github.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/heroku.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/postgresql.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/git.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/ruby.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/subl.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>
            </div>
            <div class="col">
                <p>
                UbbyTech is a online company that develops, builds, and deploys a wide range of applications: from web apps to virtual reality apps. We build websites and applications for those who need their own personal website; small businesses, and for those who need something more custom.
                </p>
                <p>
                Our tech stack consists of Linux, Ruby on rails, html5/css3, JavaScript, coffeescript, sass, postgresql, and much more.
                </p>
            </div>
        </div>
    </div>
</div>



<!-- services section -->
<div class="jumbotron main-serv" id="serv1">
  <div class="container-fluid"><br>
    <div class="container-fluid">
      <h1 class="serv-txt-cent">Services</h1>
      <div class="row">
          <div class="col">
          
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
                
                <div class="card-block">
                  <h4 class="card-title tcenter">Starter Package</h4>
                  <p class="card-text">The perfect package for those looking for their own personal website or to display information.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">5 Webpages ($99 per page)</li>
                  <li class="list-group-item">Responsive to mobile/tablet devices</li>
                  <li class="list-group-item">Google Analytics</li>
                  <li class="list-group-item">Front-end Editing</li>
                  <li class="list-group-item">Social Media Integration</li>
                  <li class="list-group-item">Secure Web Hosting</li>
                </ul>
                <div class="card-block">
                   <button type="button" class="btn btn-success btn-lg btn-block"
                           data-toggle="modal" data-target="#sp">$50</button>
                  <div class="modal fade" id="sp" tabindex="-1" role="dialog" aria-labelledby="spLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="spLabel">Starter Package</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= f.submit "Send message", class: 'btn btn-primary' %>
                              </div>
                          <% end %>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
                
                <div class="card-block">
                  <h4 class="card-title tcenter">Small Business Package</h4>
                  <p class="card-text">If you're a startup looking to take your business to the next level, this is package for you.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">STARTER PACKAGE PLUS+</li>
                  <li class="list-group-item">User Account integration</li>
                  <li class="list-group-item">User Management System</li>
                  <li class="list-group-item">Visitor Tracking</li>
                  <li class="list-group-item">Email/SMS</li>
                  <li class="list-group-item">Competitor Spy/Analysis Report</li>
                </ul>
                <div class="card-block">
                  <button type="button" class="btn btn-warning btn-lg btn-block"
                          data-toggle="modal" data-target="#sbp">$100</button>
                  <div class="modal fade" id="sbp" tabindex="-1" role="dialog" aria-labelledby="sbpLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="sbpLabel">Small Business Package</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= f.submit "Send message", class: 'btn btn-primary' %>
                              </div>
                          <% end %>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
              
                <div class="card-block">
                  <h4 class="card-title tcenter">Custom Package</h4>
                  <p class="card-text">This package is more ideal towards customers looking to setup an eCommerce platform or something a bit more custom.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">SMALL BUSINESS PACKAGE PLUS+</li>
                  <li class="list-group-item">eCommerce Platform</li>
                  <li class="list-group-item">Sales Report</li>
                  <li class="list-group-item">Sales Analysis</li>
                  <li class="list-group-item">Integrated Shipping Calculator</li>
                  <li class="list-group-item">Accept Multiple Payments</li>
                </ul>
                <div class="card-block">
                   <button type="button" class="btn btn-danger btn-lg btn-block"
                           data-toggle="modal" data-target="#cp">$200</button>
                  <div class="modal fade" id="cp" tabindex="-1" role="dialog" aria-labelledby="cpLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="cpLabel">Custom Package</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= f.submit "Send message", class: 'btn btn-primary' %>
                              </div>
                          <% end %>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="col">
          
          </div>
      </div>
   


      <div class="row">
        <br><br>
      </div>

      <div class="row">
        <div class="col">
          
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
                <div class="card-block">
                  <h4 class="card-title">Code Refactor Package</h4>
                  <p class="card-text">Beautify your code and make it much more cleaner and shorter with our code refactor package.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Ruby</li>
                  <li class="list-group-item">Ruby on Rails</li>
                  <li class="list-group-item">HTHL5/CSS3</li>
                  <li class="list-group-item">SCSS</li>
                  <li class="list-group-item">CoffeeScript</li>
                  <li class="list-group-item">JS/JQuery</li>
                </ul>
                <div class="card-block">
                   <button type="button" class="btn btn-info btn-lg btn-block"
                   data-toggle="modal" data-target="#codeRefactor">Get a price quote</button>
                     <div class="modal fade" id="codeRefactor" tabindex="-1" role="dialog" aria-labelledby="codeRefactorLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="codeRefactorLabel">Get a price quote</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit "Send message", class: 'btn btn-primary' %>
                          </div>
                           <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
                <div class="card-block">
                  <h4 class="card-title">Web Crawler Package</h4>
                  <p class="card-text">Need a web crawler script to scape or gather information on your website or another site for intelligence gathering?</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Our Web Crawlers are built using either ruby or php</li>
                  <li class="list-group-item">We provide excellent documentation</li>
                  <li class="list-group-item">We put an emphasis clean code</li>
                  <li class="list-group-item">We'll gather the information you need!</li>
                </ul>
                <div class="card-block">
                  <button type="button" class="btn btn-info btn-lg btn-block"
                  data-toggle="modal" data-target="#webCrawler">Get a price quote</button>
                  <div class="modal fade" id="webCrawler" tabindex="-1" role="dialog" aria-labelledby="webCrawlerLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="webCrawlerLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit "Send message", class: 'btn btn-primary' %>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col">
              <div class="card" style="width: 20rem;">
                <div class="card-block">
                  <h4 class="card-title">OpenSource Package</h4>
                  <p class="card-text">The perfect package for Non-Profits, organizations, and individuals who need custom built opensource tools and applications created.</p>
                </div>
                <ul class="list-group list-group-flush">
               
                </ul>
                <div class="card-block">
                   <button type="button" class="btn btn-info btn-lg btn-block"
                   data-toggle="modal" data-target="#opensource">Get a price quote</button>
                   <div class="modal fade" id="opensource" tabindex="-1" role="dialog" aria-labelledby="webCrawlerLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="webCrawlerLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= form_for(:user) do |f| %>
                              <div class="form-group">
                                <%= f.label :name, class: 'form-control-label' %>
                                <%= f.text_field :name, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :email, class: 'form-control-label' %>
                                <%= f.email_field :email, class: 'form-control' %>
                              </div>
                              <div class="form-group">
                                <%= f.label :message, class: 'form-control-label' %>
                                <%= f.text_area :message, class: 'form-control' %>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit "Send message", class: 'btn btn-primary' %>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col">
          
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <br><br>
    </div>  
</div>

<!-- contact section -->
<div class="jumbotron" id="contact1">
<h2 class="txt-center">Contact Us</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>Need something more custom?</p>
        <p>
         Contact: (XXX) XXX - XXXX
         </p>

      </div>

      <div class="col">
        <%= render 'users/new' %>
      </div>
    </div>
  </div>
</div>
