<!-- home section -->
 <div class="jumbotron bg-cover">
    <div class="container">
        <h1 class="display-1 txt-center">UbbyTech</h1>
        <p class="display-4 par-center">Smart and productive app development at an affordable price using modern cutting edge technology.</p>
        <div class="row">
        	<div class="col">

        	</div>
        	<div class="col">
	        	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	        </div>
	        <div class="col">

        	</div>
        	<div class="col">

        	</div>
	      	 <div class="col">
	        	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	        </div>
	        <div class="col">

        	</div>
        </div>
    </div>
</div>

<!-- about us section -->
<div class="jumbotron">
    <div class="container-fluid">
        <h1 class="txt-center">About Us</h1>
        <br>
        <div class="row">
            <div class="col">
                <%= image_tag('dev-team.png', class: 'img-fluid', alt: 'about-pic') %>
            </div>
            <div class="col">
              <h2 class="txt-center">Techologies we use</h2>
              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/html5.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/css3.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/js.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/github.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/heroku.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/postgresql.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <%= image_tag('our-tech/git.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/ruby.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
                <div class="col">
                  <%= image_tag('our-tech/subl.png', class: 'img-circle', alt: 'tech-imgs') %>
                </div>
              </div>
            </div>
            <div class="col">
                <p>
                UbbyTech is a online company that builds and develops a wide range of applications: from web apps to virtual reality apps. We build websites and applications for those who need their own personal website; small businesses, and for those who need something more custom.
                </p>
                <p>
                UbbyTech is a online company that builds and develops a wide range of applications: from web apps to virtual reality apps. We build websites and applications for those who need their own personal website; small businesses, and for those who need something more custom.
                </p>
            </div>
        </div>
    </div>
</div>



<!-- services section -->
<div class="container-fluid">
    <h1 class="txt-center">Services</h1>

    <div class="row">

        <div class="col">
        
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
              
              <div class="card-block">
                <h4 class="card-title tcenter">Starter Package</h4>
                <p class="card-text">The perfect package for those looking for their own personal website or to display information.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">5 Webpages ($99 per page)</li>
                <li class="list-group-item">Responsive to mobile/tablet devices</li>
                <li class="list-group-item">Google analytics</li>
                <li class="list-group-item">Front-end editing</li>
                <li class="list-group-item">social media integration</li>
                <li class="list-group-item">secure web hosting</li>
              </ul>
              <div class="card-block">
                 <button type="button" class="btn btn-success btn-lg btn-block">$50</button>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
              
              <div class="card-block">
                <h4 class="card-title tcenter">Small Business Package</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">STARTER PACKAGE PLUS+</li>
                <li class="list-group-item">User Account integration</li>
                <li class="list-group-item">user management account system</li>
                <li class="list-group-item">visitor tracking</li>
                <li class="list-group-item">email/sms</li>
                <li class="list-group-item">competitor spy/analysis report</li>
              </ul>
              <div class="card-block">
                <button type="button" class="btn btn-warning btn-lg btn-block">$100</button>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
            
              <div class="card-block">
                <h4 class="card-title tcenter">Custom Package</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">SMALL BUSINESS PACKAGE PLUS+</li>
                <li class="list-group-item">eCommerce platform</li>
                <li class="list-group-item">sales report</li>
                <li class="list-group-item">sales analysis</li>
                <li class="list-group-item">integrated shipping calculators</li>
                <li class="list-group-item">accept multiple payments</li>
              </ul>
              <div class="card-block">
                 <button type="button" class="btn btn-danger btn-lg btn-block">$200</button>
              </div>
            </div>
        </div>

        <div class="col">
        
        </div>
    </div>

    <div class="row">
      <br><br>
    </div>

    <div class="row">
      <div class="col">
        
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
              <%= image_tag('https://cdn4.iconfinder.com/data/icons/industrial-vol-2/72/91-128.png', class: 'card-img-top', alt: 'small business card') %>
              <div class="card-block">
                <h4 class="card-title">Starter Package</h4>
                <p class="card-text">The perfect package for those looking for their own personal website or to display information.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-block">
                 <button type="button" class="btn btn-success btn-lg btn-block">$50</button>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
              <%= image_tag('https://cdn4.iconfinder.com/data/icons/industrial-vol-2/72/91-128.png', class: 'card-img-top', alt: 'small business card') %>
              <div class="card-block">
                <h4 class="card-title">Small Business Package</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Joseph BOurne</li>
              </ul>
              <div class="card-block">
                <button type="button" class="btn btn-warning btn-lg btn-block">$100</button>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 20rem;">
              <%= image_tag('https://cdn4.iconfinder.com/data/icons/industrial-vol-2/72/91-128.png', class: 'card-img-top', alt: 'small business card') %>
              <div class="card-block">
                <h4 class="card-title">Custom Package</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-block">
                 <button type="button" class="btn btn-danger btn-lg btn-block">$200</button>
              </div>
            </div>
        </div>

        <div class="col">
        
        </div>
    </div>

    <div class="row">
      <br><br>
    </div>
</div>

<!-- contact section -->
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

      </div>

      <div class="col">
        <form>
        
        </form>
      </div>
    </div>
  </div>
</div>
